<ion-header>
	<ion-toolbar color="tertiary">
		<ion-item lines="none" color="tertiary" routerLink="/home">
			<ion-label class="page__header">Phonebook</ion-label>
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card class="custom__card">
		<ion-card-content class="card__body phonebook__contact">
			<h1>{{ phonebook.name | titlecase }}</h1>
			<h2>{{ phonebook.email }}</h2>
			<h2>0{{ phonebook.phone }}</h2>
			<ion-list class="action__icons">
				<ion-icon (click)="callContact(phonebook)" color="tertiary" name="call-outline" size="large"></ion-icon>
				<ion-icon (click)="EmailContact(phonebook)" color="tertiary" name="mail-outline" size="large"></ion-icon>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
